/* --------------------
 $ BREAKPOINTS
 -------------------- */

 @mixin breakpoint($min: 0, $max: 0) {
    $point: type-of($min);
  
    @if $point == string {
      @if $min == desktop {
        @media (min-width: 1024px) {
          @content;
        }
      }
  
      @else if $min == tablet-below {
        @media (max-width: 1023px) {
          @content;
        }
      }
  
      @else if $min == tablet {
        @media (min-width: 768px) {
          @content;
        }
      }
  
      @else if $min == mobile {
        @media (max-width: 767px) {
          @content;
        }
      }
  
      @else if $min == xxs {
        @media (max-width: 374px) {
          @content;
        }
      }
  
      @else if $min == xs {
        @media (max-width: 575px) {
          @content;
        }
      }
  
      @else if $min == sm {
        @media (min-width: 576px) {
          @content;
        }
      }
  
      @else if $min == md {
        @media (min-width: 768px) {
          @content;
        }
      }
  
      @else if $min == lg {
        @media (min-width: 992px) {
          @content;
        }
      }
  
      @else if $min == xl {
        @media (min-width: 1200px) {
          @content;
        }
      }
  
      @else if $min == xxl {
        @media (min-width: 1420px) {
          @content;
        }
      }
  
      //// SPR and SRP > SRPPropertyCard media query overrides.
      // The following media queries have been introduced to override the default bootstap breakpoints to:
      // a) Hide the inline Map on the SRP at below 900px,
      // b) Introduce the mobile modal functionality at below 900px to toggle map's visibility,
      // c) Manage how many SRPPropertyCard's are visible at different sizes to meet design requirements.
      @else if $min == srp-sm-below {
        @media (max-width: 480px) {
          @content;
        }
      }
  
      @else if $min == srp-md-below {
        @media (max-width: 678px) {
          @content;
        }
      }
  
      @else if $min == srp-lg-below {
        @media (max-width: 899px) {
          @content;
        }
      }
  
      @else if $min == srp-lg {
        @media (min-width: 900px) {
          @content;
        }
      }
      //
    }
  
    @else if $point == number {
      $query: "all" !default;
  
      @if $min != 0 and $max != 0 {
        $query: "(min-width: #{$min}) and (max-width: #{$max})";
      }
  
      @else if $min != 0 and $max == 0 {
        $query: "(min-width: #{$min})";
      }
  
      @else if $min == 0 and $max != 0 {
        $query: "(max-width: #{$max})";
      }
  
      @media #{$query} {
        @content;
      }
    }
  }
  