$kollen-color: #00FFFF;
$font: 15px;
$h1: 48px;
$h2: 34px;
$h3: 21px;
$h4: 18px;
$paragraph: 15px;
$input: 20px;
$caption: 14px;
$captionMd: 12px;
$border-radius: 4px;
$defaultBorderColor: #00b8ab;
$defaultTextColor: #102423;
$defaultBackgroundColor: #e4e9e8;
$defaultIconColor: #8f99a3;
$secondaryBackgroundColor:#e4e9e8;
$secondaryTextColor: #fff;
$secondaryBorderColor: #c7d1d0;
$tertiaryBackgroundColor: #b3e6e2;
$tertiaryBorderColor: #008077;
$containerBackgroundColor: #00b8ab;
$containerBorderColor: #102423;
$errorEyeColor: #800008;
$black: #2E384D;
$black2: #69707F;
$black3: #8798AD;
$white: #FFFFFF;
$gray: #BFC5D2;
$gray2: #F4F6FC;
$gray3: #EEF3F5;
$shadow: rgba(46,91,255,0.07);
$accent: #F3534A;
$primary: #0275D8;
$secondary: #2BDA8E;
$success: #5CB85C;
$warning: #F0AD4E;
$error: #e0525b;
$danger: #800008;