/* Fonts */

$primary-font: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

$kollen_color: #00FFFF;
$red: #e30613;
$font: 15px;
$h1: 48px;
$h2: 34px;
$h3: 21px;
$h4: 18px;
$paragraph: 15px;
$input: 20px;
$caption: 14px;
$captionMd: 12px;
$border-radius: 4px;
$defaultBorderColor: #00b8ab;
$defaultTextColor: #102423;
$defaultBackgroundColor: #e4e9e8;
$defaultIconColor: #8f99a3;
$secondaryBackgroundColor:#e4e9e8;
$secondaryTextColor: #fff;
$secondaryBorderColor: #c7d1d0;
$tertiaryBackgroundColor: #b3e6e2;
$tertiaryBorderColor: #008077;
$containerBackgroundColor: #00b8ab;
$containerBorderColor: #102423;
$errorEyeColor: #800008;
$black: #2E384D;
$black2: #69707F;
$black3: #8798AD;
$white: #FFFFFF;
$gray: #BFC5D2;
$gray2: #F4F6FC;
$gray3: #EEF3F5;
$darkGray: #404040;
$shadow: rgba(46,91,255,0.07);
$accent: #F3534A;
$primary: #0275D8;
$secondary: #2BDA8E;
$success: #5CB85C;
$warning: #F0AD4E;
$error: #e0525b;
$danger: #800008;
$gold: #dbb132;
$lightGold: #f2be23;
$steel: #626468;


/* Default styles */

$SHADOW-DEFAULT: 0 1px 4px 0 rgba(177, 178, 180, 0.8);


/* typography */
$font-size-60: 3.75rem;
$font-size-55: 3.4375rem;
$font-size-44: 2.75rem;
$font-size-35: 2.1875rem;
$font-size-32: 2rem;
$font-size-28: 1.75rem;
$font-size-26: 1.625rem;
$font-size-24: 1.5rem;
$font-size-22: 1.375rem;
$font-size-20: 1.25rem;
$font-size-18: 1.125rem;
$font-size-17: 1.0625rem;
$font-size-16: 1rem;
$font-size-15: 0.9375rem;
$font-size-14: 0.875rem;
$font-size-13: 0.8125rem;
$font-size-12: 0.75rem;
$font-size-11: 0.6875rem;
$font-size-10: 0.625rem;

/* for consistent margins, padding etc */
$spacing-base: 15px;
$spacing-1x: ($spacing-base);
$spacing-2x: ($spacing-base * 2);
$spacing-3x: ($spacing-base * 3);
$spacing-4x: ($spacing-base * 4);
$spacing-5x: ($spacing-base * 5);
$spacing-6x: ($spacing-base * 6);
