@import "../../../styles/variables.scss";

.menu {
  display: inline-block;
  position: relative;

  & > button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    outline: none;
    padding: 16px;

    & > span {
      margin-left: 5px;
    }

    &:hover,
    &:focus,
    &.focus {
      background: none;
      outline: none;
    }

    &:active,
    &.active {
      background-image: none;
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      outline: 0;
      transform: scale(0.99);
    }
  }

  &:hover > button {
    background-color: $kollen_color;
    color: $black;
  }

  &__content {
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: block;
    left: 0;
    min-width: 160px;
    opacity: 0;
    position: absolute;
    top: 100%;
    transform: translateY(-3rem);
    transition: all 0.3s ease-in-out, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    visibility: hidden;
    z-index: -1;

    & > a {
      color: $black;
      display: block;
      padding: 12px 16px;
      text-decoration: none;
    }

    & > a:hover {
      background-color: $kollen_color;
      color: white;
    }
  }

  &:hover &__content {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
    visibility: visible;
    z-index: 1;
  }
}
