@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.navbar {
  background-color: white;

  &__brand {
    align-items: center;
    display: flex;
    justify-content: center;

    &__img {
      backface-visibility: hidden;
      display: block;
      height: 100px;
      image-rendering: auto;
      object-fit: cover;
      transform: translateZ(0);
      transition: all 0.2s ease-in-out;
      width: 100px;
    }

    @include breakpoint(mobile) {
      background-color: $kollen_color;
      justify-content: space-between;

      &__img {
        height: 60px;
        width: 60px;
      }
    }
  }

  &__button {
    display: none;

    @include breakpoint(mobile) {
      background: none;
      border: none;
      border: 0;
      cursor: pointer;
      display: block;
      padding: 12px;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        background: none;
      }
    }
  }

  &__menu {
    align-items: center;
    display: flex;
    justify-content: center;

    & > .item {
      color: $black;
      padding: 0 8px;
      text-decoration: none;

      &:hover {
        color: $kollen_color;
      }
    }

    @include breakpoint(mobile) {
      display: none;
    }
  }
}
