@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.ProductCard {
  padding-bottom: $spacing-2x;

  .card-header {
    height: 190px;
    position: relative;
    width: 100%;
  }

  &__image {
    background-color: white;
    border-radius: 8px;
    height: 190px;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    & > img {
      backface-visibility: hidden;
      display: block;
      height: 190px;
      image-rendering: auto;
      object-fit: cover;
      transform: translateZ(0);
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }

  &__labels {
    position: absolute;
    right: 8px;
    top: 2px;
  }

  &__cart {
    bottom: -26px;
    position: absolute;
    right: 8px;
    transition: all 0.2s ease-in-out;

    & > span {
      background-color: $kollen_color;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 40px;
      width: 40px;

      & > svg {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    @include breakpoint(desktop) {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  &__favourite {
    left: 8px;
    position: absolute;
    top: 8px;
  }

  .card-content {
    color: $darkGray;
    padding: 11px 0;
  }

  &__type,
  &__title {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__title {
    -webkit-box-orient: vertical;
    color: $kollen_color;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;

    .exclusive & {
      color: $gold;
    }

    .deleted & {
      color: $steel;
    }
  }

  &__metrics {
    list-style: none;
    margin: 12px 0 0;
    padding: 0;
    white-space: normal;

    & > span {
      padding-bottom: $spacing-base;
    }

    .PropertyMetric {
      margin-bottom: 6px;
    }
  }

  @include breakpoint(desktop) {
    &:hover {
      .ProductCard__image {
        & > img {
          transform: scale(1.05);
        }

        &:after {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

      .ProductCard__cart {
        opacity: 1;
        transform: translateY(-12px);
      }
    }
  }
}
