@import "../../../styles/variables.scss";

.StoryCard {
  display: block;
  margin: 0 auto;
  width: 500px;

  &__img__block {
    background-color: white;
    height: 250px;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    & > img {
      display: block;
      height: 250px;
      image-rendering: auto;
      object-fit: cover;
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }

  &__content {
    background-color: white;
    box-shadow: 0 0 15px -9px $black;
    padding-bottom: 30px;

    h3 {
      font-family: $primary-font;
      font-size: $h3;
      margin: 0;
      margin-bottom: 15px;
    }
  }
}
