@import "../../../styles/variables.scss";

.btn {
    padding: $paragraph;
    background-color: $kollen-color;
    border-color: $kollen-color;
    color: $defaultTextColor;
    border-radius: $border-radius;
    text-align: center;
    display: block;
    width: 100%;
    font-size: $font-size-16;
    cursor: pointer;
    font-weight: 700;
    transition: all .3s ease-in-out;
    border: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    text-decoration: none;
}

button:hover,
button:focus {
    background: $tertiaryBackgroundColor;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

