@import "../../../styles/variables.scss";

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: $kollen-color;
  border: none;
  border-color: $kollen-color;
  border-radius: $border-radius;
  color: $defaultTextColor;
  cursor: pointer;
  display: block;
  font-size: $font-size-16;
  font-weight: 700;
  padding: $paragraph;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

button:hover,
button:focus {
  background: $tertiaryBackgroundColor;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
